.nav-item ul li a {
    color: white
}

legend {
    color: green;
}

.author {
    color: blue;
}

.search {
    position: sticky;
    /* The magic */
    z-index: 1;
    /* Ensure it stays on top of other player divs */
    top: 0px;
    /* Where it should stick to */
}